<% for column in Bulletins.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @bulletins.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @bulletins %> |
<%= link_to 'Back', :action => 'list' %>
