<% for column in Adminuser.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @adminuser.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @adminuser %> |
<%= link_to 'Back', :action => 'list' %>
